<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>New Factorio Server</h1>
  <%= link_to "Back", factorio_servers_path, class: "btn btn-outline-secondary" %>
</div>

<%= render "form", server: @server %>